/*                                                                      */
/* Normal transformation style sheet                                    */
/* (C) Copyright 2011 Yamauchi Hitoshi                                  */
/* Using Tangle by Bret Victor                                          */
/*                                                                      */

html {
}

body {
  background: #eee0c7;
  font: 14px "Lato", "Helvetica", "Arial", sans-serif;
  color: #553f19;
  width: 100%;
  margin-top:30px;
  margin-left:30px;
}

.NormalTransformCanvasArea {
    position:relative;
    width:500px;
    /* height:15; */
}

/* scale matrix */
.scaleMatrix {
    position: absolute;
    left:350px;
    top:4px;
    width:85px;
    height:30px;
}

/* rotate matrix */
.rotateMatrix {
    position: absolute;
    left:440px;
    top:4px;
    width:210px;
    height:30px;
}

/* translate vector */
.translateVector {
    position: absolute;
    left:680px;
    top:4px;
    width: 60px;
    height:80px;
}

/* matrix's each coefficient */
.matrixCoef {
    position:absolute;
    font: 16px "Times New Roman", "Times", serif;
    color: #000;
    background-color:#fff0;
    text-align:center;
    display:block;
}

/* matrix's paren */
.matrixParen {
    position:absolute;
    font: 60px "Times New Roman", "Times", serif;
    color: #000;
    background-color:#fff0;
    text-align:center;
    display:block;
}
